# Banco
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=executiva_db

DATABASE_URL=postgresql://postgres:postgres@db:5432/executiva_db
# JWT
JWT_SECRET=super_secret

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:3000